workflows/digest_workflow.json
{
  "id": "digest_main_01",
  "name": "Пятничный Музыкальный Дайджест-Бот",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 5"
            }
          ]
        }
      },
      "id": "1",
      "name": "Пятница 10:00 (Trigger)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name FROM artists;"
      },
      "id": "2",
      "name": "Postgres (Get All Favorite Artists)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [320, 260],
      "credentials": {
        "postgres": {
          "id": "postgres_cred",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://itunes.apple.com/search?term={{ encodeURIComponent($json.name) }}&entity=album&country=RU&limit=5",
        "options": {}
      },
      "id": "3",
      "name": "iTunes API (Get Releases)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 260]
    },
    {
      "parameters": {
        "jsCode": "// Строгий фильтр релизов любимых артистов за последние 14 дней со ссылками на Spotify\nconst releases = [];\nconst now = new Date();\nconst dateCutoff = new Date(now.getTime() - 14 * 24 * 60 * 60 * 1000);\n\nfor (const item of $input.all()) {\n  const results = item.json.results || [];\n  for (const album of results) {\n    if (album.releaseDate) {\n      const releaseDate = new Date(album.releaseDate);\n      if (releaseDate >= dateCutoff) {\n        const query = encodeURIComponent(`${album.artistName} ${album.collectionName}`);\n        releases.push({\n          json: {\n            artist: album.artistName,\n            title: album.collectionName,\n            release_type: album.collectionType === 'Album' ? 'album' : 'single',\n            source: 'taste',\n            url: `https://open.spotify.com/search/${query}`,\n            release_date: album.releaseDate.split('T')[0]\n          }\n        });\n      }\n    }\n  }\n}\nreturn releases;"
      },
      "id": "4",
      "name": "Code (Filter Taste & Build Spotify Links)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 260]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/cloudeluxe"
      },
      "id": "5",
      "name": "RSS Read (@cloudeluxe)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 560]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/USANEWRAP"
      },
      "id": "6",
      "name": "RSS Read (@USANEWRAP)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 720]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/rhymesm"
      },
      "id": "7",
      "name": "RSS Read (@rhymesm)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 880]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/theflow"
      },
      "id": "8",
      "name": "RSS Read (@theflow)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 1040]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Ты — фильтр свежих музыкальных релизов.\\nТебе присылают текст постов из музыкальных телеграм-каналов.\\nВыдели ВСЕ ПОСТЫ, где сообщается о ВЫХОДЕ НОВОГО ТРЕКА/АЛЬБОМА/СИНГЛА/ДРОПА (до 15 штук).\\nИгнорируй мемы, вопросы, рекламу и драмы.\\n\\nВерни строго JSON-массив без markdown-обёртки:\\n[\\n  {\\n    \\\"artist\\\": \\\"Имя исполнителя\\\",\\n    \\\"title\\\": \\\"Название трека или альбома\\\",\\n    \\\"source\\\": \\\"ru_cloud\\\"\\n  }\\n]\\n\\nПосты:\\n\" + JSON.stringify($input.all().map(i => ({ title: i.json.title, link: i.json.link })))\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "9",
      "name": "Gemini Classifier (Telegram Drops)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 640]
    },
    {
      "parameters": {
        "jsCode": "// Парсинг JSON ответа Gemini и генерация Spotify ссылок\nconst results = [];\nfor (const item of $input.all()) {\n  try {\n    const text = item.json.candidates[0].content.parts[0].text.trim().replace(/```json|```/g, '');\n    const parsed = JSON.parse(text);\n    if (Array.isArray(parsed)) {\n      for (const drop of parsed) {\n        if (drop.artist && drop.title) {\n          const query = encodeURIComponent(`${drop.artist} ${drop.title}`);\n          results.push({\n            json: {\n              artist: drop.artist,\n              title: drop.title,\n              source: drop.source || 'ru_cloud',\n              url: `https://open.spotify.com/search/${query}`\n            }\n          });\n        }\n      }\n    }\n  } catch (e) {\n  }\n}\nreturn results;"
      },
      "id": "10",
      "name": "Code (Parse AI Drops & Spotify Links)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 640]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "11",
      "name": "Merge All Fresh Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1200, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Ты формируешь ПЯТНИЧНЫЙ МУЗЫКАЛЬНЫЙ РАДАР РЕЛИЗОВ в Telegram.\\nТвоя цель — собрать БОЛЬШОЙ, НАСЫЩЕННЫЙ ДАЙДЖЕСТ (до 15-20 позиций).\\n\\nСформируй 2 чистые секции в Telegram Markdown:\\n1. 🎧 *Твои любимые артисты* (из источника taste)\\n2. ⚡️ *Горячие новинки недели (РФ и Запад)* (из источников ru_cloud и us_rap)\\n\\nПравила:\\n- Приводи прямые ссылки на Spotify из поля url формата [Артист — Название](url)\\n- Не меняй структуру ссылок url из входных данных!\\n- Использовать только Telegram Markdown (*bold*, [ссылка](url)).\\n\\nДанные:\\n\" + JSON.stringify($input.all().map(i => i.json))\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "12",
      "name": "Gemini Generator (Spotify Digest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($json.candidates[0].content.parts[0].text) }},\n  \"parse_mode\": \"Markdown\",\n  \"disable_web_page_preview\": true\n}",
        "options": {}
      },
      "id": "13",
      "name": "Telegram (Send Spotify Digest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 450]
    }
  ],
  "connections": {
    "Пятница 10:00 (Trigger)": {
      "main": [
        [
          {
            "node": "Postgres (Get All Favorite Artists)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@cloudeluxe)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@USANEWRAP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@rhymesm)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@theflow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (Get All Favorite Artists)": {
      "main": [
        [
          {
            "node": "iTunes API (Get Releases)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTunes API (Get Releases)": {
      "main": [
        [
          {
            "node": "Code (Filter Taste & Build Spotify Links)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Filter Taste & Build Spotify Links)": {
      "main": [
        [
          {
            "node": "Merge All Fresh Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@cloudeluxe)": {
      "main": [
        [
          {
            "node": "Gemini Classifier (Telegram Drops)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@USANEWRAP)": {
      "main": [
        [
          {
            "node": "Gemini Classifier (Telegram Drops)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@rhymesm)": {
      "main": [
        [
          {
            "node": "Gemini Classifier (Telegram Drops)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@theflow)": {
      "main": [
        [
          {
            "node": "Gemini Classifier (Telegram Drops)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Classifier (Telegram Drops)": {
      "main": [
        [
          {
            "node": "Code (Parse AI Drops & Spotify Links)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Parse AI Drops & Spotify Links)": {
      "main": [
        [
          {
            "node": "Merge All Fresh Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Fresh Branches": {
      "main": [
        [
          {
            "node": "Gemini Generator (Spotify Digest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generator (Spotify Digest)": {
      "main": [
        [
          {
            "node": "Telegram (Send Spotify Digest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
