workflows/digest_workflow.json
{
  "id": "digest_main_01",
  "name": "Пятничный Музыкальный Дайджест-Бот",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 5"
            }
          ]
        }
      },
      "id": "1",
      "name": "Пятница 10:00 MSK (Trigger)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name FROM artists;"
      },
      "id": "2",
      "name": "Postgres (Get All Favorite Artists)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [320, 260],
      "credentials": {
        "postgres": {
          "id": "postgres_cred",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/cloudeluxe"
      },
      "id": "3",
      "name": "RSS Read (@cloudeluxe)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 560]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/USANEWRAP"
      },
      "id": "4",
      "name": "RSS Read (@USANEWRAP)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 720]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/rhymesm"
      },
      "id": "5",
      "name": "RSS Read (@rhymesm)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 880]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/theflow"
      },
      "id": "6",
      "name": "RSS Read (@theflow)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 1040]
    },
    {
      "parameters": {
        "jsCode": "const favArtists = new Set();\nfor (const item of $input.all()) {\n  if (item.json.name) {\n    favArtists.add(item.json.name.toLowerCase());\n  }\n}\n\nconst drops = [];\nconst dedup = new Set();\n\nfor (const item of $input.all()) {\n  const desc = item.json.description || item.json.title || '';\n  const clean = desc.replace(/<[^>]+>/g, '\\n');\n  for (let line of clean.split('\\n')) {\n    line = line.trim();\n    if (line.startsWith('•') || line.startsWith('-') || line.startsWith('—')) {\n      const cleaned = line.replace(/^[•—\\-*\\s]+/, '');\n      if (cleaned.includes('—') || cleaned.includes('-')) {\n        const parts = cleaned.split(/\\s+[—\\-]\\s+/);\n        if (parts.length >= 2) {\n          const art = parts[0].trim();\n          const trk = parts[1].replace(/[«»\"]/g, '').trim();\n          if (art.length > 1 && trk.length > 1) {\n            const key = `${art.toLowerCase()}_${trk.toLowerCase()}`;\n            if (!dedup.has(key)) {\n              dedup.add(key);\n              const searchQ = encodeURIComponent(`${art} ${trk}`);\n              drops.push({\n                artist: art,\n                title: trk,\n                url: `https://open.spotify.com/search/${searchQ}`\n              });\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\nconst tasteList = [];\nconst generalList = [];\n\nfor (const drop of drops) {\n  const artLower = drop.artist.toLowerCase();\n  let isFav = false;\n  for (const fav of favArtists) {\n    if (fav.includes(artLower) || artLower.includes(fav)) {\n      isFav = true;\n      break;\n    }\n  }\n  if (isFav) tasteList.push(drop);\n  else generalList.push(drop);\n}\n\nlet msg = '🔥 *ПЯТНИЧНЫЙ МУЗЫКАЛЬНЫЙ РАДАР РЕЛИЗОВ* 🔥\\n\\n';\nif (tasteList.length > 0) {\n  msg += '🎧 *Твои любимые артисты*\\n\\n';\n  for (const item of tasteList) {\n    msg += `• [${item.artist} — ${item.title}](${item.url})\\n`;\n  }\n  msg += '\\n---\\n\\n';\n}\n\nif (generalList.length > 0) {\n  msg += '⚡️ *Горячие новинки недели (РФ и Запад)*\\n\\n';\n  for (const item of generalList.slice(0, 25)) {\n    msg += `• [${item.artist} — ${item.title}](${item.url})\\n`;\n  }\n  msg += '\\n---\\n\\n';\n}\nmsg += 'Нажмите на любой релиз, чтобы открыть его в Spotify! 🎧✨';\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "7",
      "name": "Code (Parse All Drops & Match Favorites)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($json.message) }},\n  \"parse_mode\": \"Markdown\",\n  \"disable_web_page_preview\": true\n}",
        "options": {}
      },
      "id": "8",
      "name": "Telegram (Send Full Spotify Digest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 640]
    }
  ],
  "connections": {
    "Пятница 10:00 MSK (Trigger)": {
      "main": [
        [
          {
            "node": "Postgres (Get All Favorite Artists)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@cloudeluxe)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@USANEWRAP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@rhymesm)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@theflow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (Get All Favorite Artists)": {
      "main": [
        [
          {
            "node": "Code (Parse All Drops & Match Favorites)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@cloudeluxe)": {
      "main": [
        [
          {
            "node": "Code (Parse All Drops & Match Favorites)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@USANEWRAP)": {
      "main": [
        [
          {
            "node": "Code (Parse All Drops & Match Favorites)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@rhymesm)": {
      "main": [
        [
          {
            "node": "Code (Parse All Drops & Match Favorites)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@theflow)": {
      "main": [
        [
          {
            "node": "Code (Parse All Drops & Match Favorites)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Parse All Drops & Match Favorites)": {
      "main": [
        [
          {
            "node": "Telegram (Send Full Spotify Digest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
