workflows/digest_workflow.json
{
  "id": "digest_main_01",
  "name": "Пятничный Музыкальный Дайджест-Бот",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 5"
            }
          ]
        }
      },
      "id": "1",
      "name": "Пятница 10:00 MSK (Trigger)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name FROM artists;"
      },
      "id": "2",
      "name": "Postgres (Get All Favorite Artists)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [320, 260],
      "credentials": {
        "postgres": {
          "id": "postgres_cred",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.deezer.com/search/artist?q={{ encodeURIComponent($json.name) }}",
        "options": {}
      },
      "id": "3",
      "name": "Deezer API (Get Artist ID)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 260]
    },
    {
      "parameters": {
        "url": "=https://api.deezer.com/artist/{{ $json.data[0].id }}/albums?limit=5",
        "options": {}
      },
      "id": "4",
      "name": "Deezer API (Get Albums)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 260]
    },
    {
      "parameters": {
        "jsCode": "// Фильтр свежих альбомов/синглов с Deezer API за 14 дней\nconst drops = [];\nconst now = new Date();\nconst cutoff = new Date(now.getTime() - 14 * 24 * 60 * 60 * 1000);\n\nfor (const item of $input.all()) {\n  const albums = item.json.data || [];\n  for (const alb of albums) {\n    if (alb.release_date) {\n      const relDate = new Date(alb.release_date);\n      if (relDate >= cutoff) {\n        const recType = (alb.record_type === 'album' || alb.record_type === 'ep') ? 'album' : 'single';\n        drops.push({\n          json: {\n            artist: alb.artist ? alb.artist.name : item.json.artist_name || '',\n            title: alb.title,\n            type: recType,\n            url: `https://open.spotify.com/search/${encodeURIComponent(alb.title)}` \n          }\n        });\n      }\n    }\n  }\n}\nreturn drops;"
      },
      "id": "5",
      "name": "Code (Filter Fresh Deezer Albums)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 260]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/cloudeluxe"
      },
      "id": "6",
      "name": "RSS Read (@cloudeluxe)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 560]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/USANEWRAP"
      },
      "id": "7",
      "name": "RSS Read (@USANEWRAP)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 720]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/rhymesm"
      },
      "id": "8",
      "name": "RSS Read (@rhymesm)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 880]
    },
    {
      "parameters": {
        "url": "http://rsshub:1200/telegram/channel/theflow"
      },
      "id": "9",
      "name": "RSS Read (@theflow)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [320, 1040]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "10",
      "name": "Merge All Providers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1200, 550]
    },
    {
      "parameters": {
        "jsCode": "const favArtists = new Set();\nfor (const item of $input.all()) {\n  if (item.json.name) {\n    favArtists.add(item.json.name.toLowerCase());\n  }\n}\n\nconst drops = [];\nconst dedup = new Set();\n\nfunction decodeEntities(encodedString) {\n  return encodedString\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\");\n}\n\nfor (const item of $input.all()) {\n  const desc = item.json.description || item.json.title || '';\n  const clean = decodeEntities(desc.replace(/<[^>]+>/g, '\\n'));\n  let currentType = 'single';\n  for (let line of clean.split('\\n')) {\n    line = line.trim();\n    const lLower = line.toLowerCase();\n    if (lLower.includes('альбомы') || lLower.includes('ep')) {\n      currentType = 'album';\n      continue;\n    }\n    if (lLower.includes('синглы')) {\n      currentType = 'single';\n      continue;\n    }\n    if (lLower.includes('присылайте') || lLower.includes('забыли')) {\n      continue;\n    }\n    if (line.startsWith('•') || line.startsWith('-') || line.startsWith('—') || (line.length > 2 && !isNaN(parseInt(line[0])) && (line[1] === '.' || line[2] === '.'))) {\n      const cleaned = line.replace(/^[•—\\-*\\d.\\s]+/, '').trim();\n      if (cleaned.includes('—') || cleaned.includes('-')) {\n        const parts = cleaned.split(/\\s+[—\\-]\\s+/);\n        if (parts.length >= 2) {\n          const art = parts[0].trim();\n          let trk = parts[1].replace(/[«»\"]/g, '').replace(/\\[\\d{2}\\.\\d{2}\\.\\d{4}\\]/g, '').trim();\n          if (art.length > 1 && trk.length > 1 && (art.length + trk.length < 75)) {\n            drops.push({\n              artist: art,\n              title: trk,\n              type: currentType\n            });\n          }\n        }\n      }\n    }\n  }\n  if (item.json.artist && item.json.title) {\n    drops.push({\n      artist: item.json.artist,\n      title: item.json.title,\n      type: item.json.type || 'album'\n    });\n  }\n}\n\nconst dedupMap = {};\nfor (const d of drops) {\n  const artClean = d.artist.trim();\n  const trkClean = d.title.replace(/\\s*-\\s*(single|ep|album)$/i, '').trim();\n  const artKey = artClean.toLowerCase().replace(/[^a-z0-9а-я]/g, '');\n  const trkKey = trkClean.toLowerCase().replace(/[^a-z0-9а-я]/g, '');\n  const key = `${artKey}_${trkKey}`;\n  if (!dedupMap[key]) {\n    const searchQ = encodeURIComponent(`${artClean} ${trkClean}`);\n    dedupMap[key] = {\n      artist: artClean,\n      title: trkClean,\n      type: d.type || 'single',\n      url: `https://open.spotify.com/search/${searchQ}`\n    };\n  }\n}\n\nconst uniqueDrops = Object.values(dedupMap);\nconst favAlbums = [];\nconst favSingles = [];\nconst generalAlbums = [];\nconst generalSingles = [];\n\nfor (const drop of uniqueDrops) {\n  const artLower = drop.artist.toLowerCase();\n  const tokens = artLower.split(/[,&;]|\\bfeat\\b|\\bft\\b|\\bwith\\b/).map(t => t.trim()).filter(t => t.length > 1);\n  let isFav = false;\n  for (const token of tokens) {\n    for (const fav of favArtists) {\n      if (fav === token || (fav.length > 3 && token.includes(fav))) {\n        isFav = true;\n        break;\n      }\n    }\n    if (isFav) break;\n  }\n  if (isFav) {\n    if (drop.type === 'album') favAlbums.push(drop);\n    else favSingles.push(drop);\n  } else {\n    if (drop.type === 'album') generalAlbums.push(drop);\n    else generalSingles.push(drop);\n  }\n}\n\nlet msg = '🔥 *ПЯТНИЧНЫЙ МУЗЫКАЛЬНЫЙ РАДАР РЕЛИЗОВ* 🔥\\n\\n';\nif (favAlbums.length > 0 || favSingles.length > 0) {\n  msg += '🎧 *Твои любимые артисты*\\n\\n';\n  if (favAlbums.length > 0) {\n    msg += '💿 *Альбомы & EP:*\\n';\n    for (const item of favAlbums) msg += `• [${item.artist} — ${item.title}](${item.url})\\n`;\n    msg += '\\n';\n  }\n  if (favSingles.length > 0) {\n    msg += '🎤 *Синглы:*\\n';\n    for (const item of favSingles) msg += `• [${item.artist} — ${item.title}](${item.url})\\n`;\n    msg += '\\n';\n  }\n  msg += '\\n';\n}\n\nif (generalAlbums.length > 0 || generalSingles.length > 0) {\n  msg += '⚡️ *Горячие новинки недели (РФ и Запад)*\\n\\n';\n  if (generalAlbums.length > 0) {\n    msg += '💿 *Альбомы & EP:*\\n';\n    for (const item of generalAlbums) msg += `• [${item.artist} — ${item.title}](${item.url})\\n`;\n    msg += '\\n';\n  }\n  if (generalSingles.length > 0) {\n    msg += '🎤 *Синглы:*\\n';\n    for (const item of generalSingles) msg += `• [${item.artist} — ${item.title}](${item.url})\\n`;\n    msg += '\\n';\n  }\n  msg += '\\n';\n}\nmsg += 'Нажмите на любой релиз, чтобы открыть его в Spotify! 🎧✨';\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "11",
      "name": "Code (Parse Deezer & Telegram Drops)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 550]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($json.message) }},\n  \"parse_mode\": \"Markdown\",\n  \"disable_web_page_preview\": true\n}",
        "options": {}
      },
      "id": "12",
      "name": "Telegram (Send Multi-Provider Digest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 550]
    }
  ],
  "connections": {
    "Пятница 10:00 MSK (Trigger)": {
      "main": [
        [
          {
            "node": "Postgres (Get All Favorite Artists)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@cloudeluxe)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@USANEWRAP)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@rhymesm)",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read (@theflow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (Get All Favorite Artists)": {
      "main": [
        [
          {
            "node": "Deezer API (Get Artist ID)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deezer API (Get Artist ID)": {
      "main": [
        [
          {
            "node": "Deezer API (Get Albums)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deezer API (Get Albums)": {
      "main": [
        [
          {
            "node": "Code (Filter Fresh Deezer Albums)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Filter Fresh Deezer Albums)": {
      "main": [
        [
          {
            "node": "Merge All Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@cloudeluxe)": {
      "main": [
        [
          {
            "node": "Merge All Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@USANEWRAP)": {
      "main": [
        [
          {
            "node": "Merge All Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@rhymesm)": {
      "main": [
        [
          {
            "node": "Merge All Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read (@theflow)": {
      "main": [
        [
          {
            "node": "Merge All Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Providers": {
      "main": [
        [
          {
            "node": "Code (Parse Deezer & Telegram Drops)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Parse Deezer & Telegram Drops)": {
      "main": [
        [
          {
            "node": "Telegram (Send Multi-Provider Digest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
